# Ignore build artifacts
src/build/
src/build1/
src/build2/
src/build3/
src/build4/

#output/python_plotting/
#output/density/
#output/concentration/
#output/sim_config/

# Ignore log and data files
*.log
*.csv
*.vtk

# Ignore mac files
*.DS_Store

# Ignore image and gif
*.png
*.gif


