# Ignore build artifacts
src/build/
src/build1/
src/build2/
src/build3/
src/build4/

# Ignore log and data files
*.log
*.csv
*.vtk

# Ignore mac files
*.DS_Store

# Ignore image and gif
*.png
*.gif


